* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.post {
    background: white;
    width: 800px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}
.post-header {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;

}
.logo {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo i {
    font-size: 4rem;
    
    
    
}
.title {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
    
    
}
h2, span {
  
    width: 100%;
    display: inline-block;
    margin-left: 0.5rem;
    
    
}
.main {
    width: 20%;
    margin-left: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.main i {
    font-size: 2rem;
    margin-right: 2rem;
    
}
.post-body {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

.post-icons {
    width: 100%;
    height: 20%;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    
}
.post-icons i {
    margin-right: 1rem;
    
}
#mark {
    margin-right: 0;
    margin-left: 78%;

}
p {
    margin-top: 1rem;
    font-size: 1.2rem;
}